body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6f9;
}

.login-card {
  width: 400px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  text-align: center;
}

.login-card h1 {
    color: #1f2937;
    font-size: 28px;
  margin-bottom: 20px;
}

.login-card h2 {
    color:#4b5563;
  margin-bottom: 20px;
}

.login-card input {
  width: 90%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.login-card button {
  width: 95%;
  padding: 12px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-card button:hover {
  background-color: #1d4ed8;
}