.notification-container {
  margin-left: 250px;
  padding: 40px;
  min-height: 100vh;
  background: #0f1220;
  color: white;
}

.notification-container h1 {
  text-align: center;
  font-size: 56px;
  margin-bottom: 30px;
}

.notification-form {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.notification-form input {
  padding: 15px;
  font-size: 16px;
  border: 1px solid #999;
  border-radius: 8px;
  background: #3d3d3d;
  color: white;
}

.notification-form input[type='text'] {
  width: 400px;
}

.notification-form input[type='date'] {
  width: 200px;
}

.notification-form button {
  padding: 15px 25px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.notification-form button:hover {
  background: #1d4ed8;
}

.notification-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  table-layout: auto;
}

.notification-table th {
  background: #1e2b45;
  color: white;
  padding: 14px;
  text-align: left;
  font-size: 16px;
}

.notification-table td {
  padding: 14px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.notification-table button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  
}

.notification-table button:first-child {
  background: #2563eb;
}

.notification-table button:last-child {
  background: #dc2626;
}

.notification-table button:hover {
  opacity: 0.9;
}

.search-box {
  width: 85%;
  margin: 25px auto;
  display: flex;
  justify-content: center;
}

.search-box input {
  width: 400px;
  max-width: 90%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #999;
}
.notification-table td:last-child button {
  margin: 0 5px;
}

.notification-table th,
.notification-table td {
  text-align: center;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.notification-table td {
  color: black !important;
}
.notification-table td,
.notification-table th {
  white-space: normal;
  overflow: visible;
}